@import '../css/pure-min.css';

html{
  overflow:hidden;
  //width: 100%;

  body{
    background: #fff;
    margin-left: 0;
    margin-right: 0;
    padding: 0;

    #logo {
      width: 48px;
      padding-right: 4px;
      top: 3px;
      position: relative;
    }
    .screen{
      display: none;
    }
    .screen[state=inactive]{
      display: none;
    }
    .screen[state=active]{
      display: block;
    }
    .main-content, .header{
      //margin: 20px;
    }
    .menu-list, .header{
      padding: 10px;
    }
    .main-content{
      width: 100%;

      .menu-list{
        width: 100%;
        text-align: center;
        margin: 0;
        top: 0;
        background-color: #7f7f7f;
        height: 100vh;
        h2 {
          color: #e6e6e6;
        }
      }
    }
    .button-list{
      list-style: none;
      //margin: 0 auto;
      padding-left: 0;
      text-align: center;
      li{
        //margin: 0;
      }
      .button-1-3-wrapper .pure-button{
        width: 98%;
      }
      .button-list-item-custom{
        padding-top: 8px;
        padding-bottom: 8px;
        margin: 10px auto;
        border-radius: 2px;
        background-color: #e6e6e6;
        max-width: 90%;
      }
      .button-list-label{
        background-color: #e6e6e6;
        padding-top: 8px;
        padding-bottom: 8px;
        border-radius: 3px;
        //margin-left: -1px;
      }
      .button-list-item{
        padding-top: 10px;
        // margin: 0;
        // margin-left: 0;
        // padding-left: 0;
        //margin-left: -1.25em;
        margin: 0 auto;

        .pure-button{
          width: 90%;
        }
      }
      .button-list-item-segmented{
        margin-left: 5%;
        margin-right: 5%;
      }
      .button-list-item-event-container{
        //text-align: center;
        //display: inline;
      }
      .button-list-item-event{
        border: 2px solid #e6e6e6;
        border-radius: 2px;
        background-color: #e6e6e6;
        //width: 90%;
        padding: 5px;
        margin-top: 2px;
        margin-bottom: 2px;
        .event-title{
          padding-top: 5px;
          padding-bottom: 5px;
        }
      }
      #start-game{
        background: rgb(28, 184, 65);
        color: #fff;
      }
      #end-game{
        background: rgb(202, 60, 60);
        color: #fff;
      }
    }
    .warmup-container{
      text-align: center;

      width:  auto;
      .flipclock{
        text-align: center;
      }
    }
    .header{
      background-color: #e6e6e6;
      margin: 0;
      top: 0;
      width: 100%;
      h1 {
        font-weight: 100;
        color: #333;
        text-align: center;
      }
    }
  }
}
.custom-restricted-width {
    /* To limit the menu width to the content of the menu: */
    display: inline-block;
    /* Or set the width explicitly: */
    /* width: 10em; */
}/*
.flip-clock-divider.days,
.flip-clock-divider.hourss,
.flipclock ul:nth-child(1),
.flipclock ul:nth-child(2),
.flipclock ul:nth-child(3)
{
    display: none;
}*/
